/** Estils del autoplay **/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      display:none;
    }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #929292;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: #f38921;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f38921;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* sliders rodons */
.slider.round {
    border-radius: 34px;
    &:before {
      border-radius: 50%;
  }
}