/** Estils de la kalimba **/
#instrument{
    display: flex;
    background: $color-instrument;
    border-radius: 50%;
    justify-content: center;
    width: 35vw;
    height: 35vw;
    align-items: center;
    position: relative;
    box-shadow: 10px 10px 14px -3px $color-sombra;

    &:before{
        content: "";
        display: block;
        padding-top: 100%;
        justify-self: center;
    }

}

#rodona{
    background: $color-rodona;
    border-radius: 50%;
    width: 11vw;
    height: 11vw;
    align-items: center;
    position: absolute;
    top: 44%;
    box-shadow: inset -14px -23px 56px -6px $color-sombra;
    
    &:before{
        content: "";
        display: block;
        padding-top: 100%;
        justify-self: center;
    }
}

[class^="lamina-"] {
    background-color: $color-lamina;
    width: 1vw;
    height: 30vw;
    padding: 10px;
    margin: 1em;
    box-shadow: 10px 10px 30px -5px $color-sombra;
    position: absolute;
    transition: all 1s;
}
/** Gestió de les lamines **/
div.lamines{
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(180deg);
    height: 35vw;
    position: absolute;
    width: 35vw;
    bottom: 7%;
    left: 2%;
}
.lamina-1{
    @include lamina-style(-30deg, 39%, 70%);
    
}
.lamina-2{
    @include lamina-style(-20deg, 53%, 66%);
}
.lamina-3{
    @include lamina-style(-10deg, 70%, 60%);
    top: 1%;
}
.lamina-4{
    @include lamina-style(0deg, 76%, 51%);
    top: 2%;
}
.lamina-5{
    @include lamina-style(8deg, 76%, 42%);
    top: 1%;
}
.lamina-6{
    @include lamina-style(19deg, 68%, 35%);
}
.lamina-7{
    @include lamina-style(30deg, 51%, 30%);
    top: -1%;
}
.lamina-8{
    @include lamina-style(40deg, 39%, 27%);
    top: -2%;
}
.apretada{
    border-top:1px solid #777;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
    
}

.tocarNota{
    background-color: $color-nota;
}

.lamina{
    background-color: $color-lamina;
}

.notaIncorrecta{
    animation: fail 1s delay;
    background-color: $color-incorrecte;
}
@keyframes fail{
    0%{
        background-color: #fff;
	}
	50% {
        background-color: $color-incorrecte;
    }
    100%{
        background-color: $color-incorrecte;
    }
}
div#pont{
    height: 7%;
    width: 52%;
    background-color: $color-pont;
    z-index: 1;
    position: absolute;
    bottom: 14%;
    border-radius: 27px;
}
img#estrella{
    height: 100px;
    width: 100px;
    justify-self: center;
    position: absolute;
    top: 21%;
}
.star-1{
    animation: star 1s;
    transition: 1s;
}


@keyframes star{
    0% {
      }

    100% {
        top: 7%;
      
    }
}

/* Disseny Responsiu per SMARTPHONES*/
@media screen and (max-device-width : 480px) {
    [class^="lamina-"] {
        padding: 8px;
    }
    #instrument{
        width: 56vw;
        height: 56vw;
    }
    div.lamines{
        width: 56vw;
        height: 56vw; 
    }
    #rodona{
        width: 15vw;
        height: 15vw;
    }
}
