// Elements de layout principal definits per resolució d'escriptori:
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: linear-gradient(-45deg, white, $color-fons, #8d6953e0, #c78888);
    animation: Gradient 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}
header{
    display: flex;
    justify-content: center;
    height: 20vh;
}
h1{
    align-self: center;
    font-size: 2em;
}
section{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    height: 80vh;
}
footer{
    display: flex;
    background-color: $color-peu;
    justify-content: center;
    align-items: center;
    height: 30vh;
    div#cansons{
        background-color: #181311;
        height: 100%;
        flex-grow: 1;
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
        ul{
            text-align: left;
        }
    }


    div#autors{
        background-color: #929292;
        height: 100%; 
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div#sub-footer{
        background-color: #181311;;
        height: 100%;
        flex-grow: 1;
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    
        h4{
          margin-bottom: 3%;
        }
    }   
}


/* Disseny Responsiu per SMARTPHONES*/
@media screen and (max-device-width : 480px) {
    header{
        h1{
            font-size: 3em;
        }
    }
    section{
        height: 45vh;
    }

    footer{
        flex-direction: column;
        height: 43vh;
        justify-content: center;
        align-items: center;
        display: flex;

        div{
            width: 100%;

            .button{
                width: 50%;
                margin-right: 0%;
                margin-bottom: 1%;
                text-align: center;
            }
            &#sub-footer{
                flex-direction: column;
                display: flex;

                
            }
            &.radio-group{
                width: 50%;
            }
           
            &#autoplay{
                display: flex;
                justify-content: center;
                
            }
        }
        
        
    }   
}

