// Menú lateral desplegable.
aside#menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    .tancaBoto {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    a:hover {
        color: #f1f1f1;
    }
    li{
        text-align: left;
    }
}

span.botoHamburguesa{
    position: fixed;
    top: 40;
    left: 40;
    font-size:30px;
    cursor:pointer;
    margin: 3%;
}

aside {
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      flex-direction: column;
    }
    li ul {
      display: none;
      color: white;
      margin: 8%;
      text-align: justify;
    }
    ul li {
      a:hover + ul, ul:hover {
        display: block;
      }
    }
  }

ul#perfil{ 
    li{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
    }

    p{
        text-decoration: none;
        font-size: 15px;
        color: $color-text;
        display: block;
        transition: 0.3s; 
    }

    img{
        width: 15vh;
        align-self: center;
    }
}

ul#infoinstrument{
    p {
    color: $color-text;
    padding: 12%;
    text-align: justify;
    }
}


/* Disseny Responsiu per SMARTPHONES*/
@media screen and (max-device-width : 480px) {
    p {
        font-size: 20px;
    }
    aside#menu a{
        font-size: 30px;
    }
    ul{
        #perfil {
            img {
                width: 7vh;
            }
            p{
                font-size: 20px;
            }
        }
        
    }
    h4{
        font-size: 1.5em;
    }
   
    span.botoHamburguesa{
        font-size: 3.5em;
        
    }
}

