// Variables definides:
$color-fons : #e1b79ce0;
$color-instrument : #a7713c;
$color-rodona :#3e2411;
$color-lamina : #333;
$color-sombra : rgba(0,0,0,0.75);
$color-pont : #181311; 
$color-peu : #1c1c1c;
$color-text: white;
$color-nota : #FFD700;
$color-incorrecte : red;
$anim-text-offset: 1em;
$bg: #332f35;
$fg: lighten($bg,20%);
$borderWidth: 3px;