@charset "UTF-8";
/** Mixins utilitzats **/
/** Estils de la kalimba **/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");
#instrument {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #a7713c;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35vw;
  height: 35vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 14px -3px rgba(0, 0, 0, 0.75);
}

#instrument:before {
  content: "";
  display: block;
  padding-top: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

#rodona {
  background: #3e2411;
  border-radius: 50%;
  width: 11vw;
  height: 11vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 44%;
  -webkit-box-shadow: inset -14px -23px 56px -6px rgba(0, 0, 0, 0.75);
          box-shadow: inset -14px -23px 56px -6px rgba(0, 0, 0, 0.75);
}

#rodona:before {
  content: "";
  display: block;
  padding-top: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
}

[class^="lamina-"] {
  background-color: #333;
  width: 1vw;
  height: 30vw;
  padding: 10px;
  margin: 1em;
  -webkit-box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 30px -5px rgba(0, 0, 0, 0.75);
  position: absolute;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/** Gestió de les lamines **/
div.lamines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  height: 35vw;
  position: absolute;
  width: 35vw;
  bottom: 7%;
  left: 2%;
}

.lamina-1 {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  height: 39%;
  left: 70%;
}

.lamina-2 {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  height: 53%;
  left: 66%;
}

.lamina-3 {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  height: 70%;
  left: 60%;
  top: 1%;
}

.lamina-4 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  height: 76%;
  left: 51%;
  top: 2%;
}

.lamina-5 {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  height: 76%;
  left: 42%;
  top: 1%;
}

.lamina-6 {
  -webkit-transform: rotate(19deg);
          transform: rotate(19deg);
  height: 68%;
  left: 35%;
}

.lamina-7 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  height: 51%;
  left: 30%;
  top: -1%;
}

.lamina-8 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  height: 39%;
  left: 27%;
  top: -2%;
}

.apretada {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9));
  background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}

.tocarNota {
  background-color: #FFD700;
}

.lamina {
  background-color: #333;
}

.notaIncorrecta {
  -webkit-animation: fail 1s delay;
          animation: fail 1s delay;
  background-color: red;
}

@-webkit-keyframes fail {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}

@keyframes fail {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: red;
  }
}

div#pont {
  height: 7%;
  width: 52%;
  background-color: #181311;
  z-index: 1;
  position: absolute;
  bottom: 14%;
  border-radius: 27px;
}

img#estrella {
  height: 100px;
  width: 100px;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  top: 21%;
}

.star-1 {
  -webkit-animation: star 1s;
          animation: star 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes star {
  0% {
  }
  100% {
    top: 7%;
  }
}

@keyframes star {
  0% {
  }
  100% {
    top: 7%;
  }
}

/* Disseny Responsiu per SMARTPHONES*/
@media screen and (max-device-width: 480px) {
  [class^="lamina-"] {
    padding: 8px;
  }
  #instrument {
    width: 56vw;
    height: 56vw;
  }
  div.lamines {
    width: 56vw;
    height: 56vw;
  }
  #rodona {
    width: 15vw;
    height: 15vw;
  }
}

/** Estils del autoplay **/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #929292;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f38921;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #f38921;
          box-shadow: 0 0 1px #f38921;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* sliders rodons */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

aside#menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

aside#menu .tancaBoto {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

aside#menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

aside#menu a:hover {
  color: #f1f1f1;
}

aside#menu li {
  text-align: left;
}

span.botoHamburguesa {
  position: fixed;
  top: 40;
  left: 40;
  font-size: 30px;
  cursor: pointer;
  margin: 3%;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside li ul {
  display: none;
  color: white;
  margin: 8%;
  text-align: justify;
}

aside ul li a:hover + ul, aside ul li ul:hover {
  display: block;
}

ul#perfil li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 4%;
  margin-bottom: 2%;
}

ul#perfil p {
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

ul#perfil img {
  width: 15vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

ul#infoinstrument p {
  color: white;
  padding: 12%;
  text-align: justify;
}

/* Disseny Responsiu per SMARTPHONES*/
@media screen and (max-device-width: 480px) {
  p {
    font-size: 20px;
  }
  aside#menu a {
    font-size: 30px;
  }
  ul #perfil img {
    width: 7vh;
  }
  ul #perfil p {
    font-size: 20px;
  }
  h4 {
    font-size: 1.5em;
  }
  span.botoHamburguesa {
    font-size: 3.5em;
  }
}

/** Estils del radio Button per triar les cançons**/
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  width: 100%;
}

input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}

.radio-group {
  border: solid 3px #675f6b;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/** Estils del Botó Start **/
.wrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #fff;
  margin-right: 14%;
}

.button__text {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.button__text:before {
  content: attr(title);
}

.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
  opacity: 0;
}

.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: translateX(-100%) rotate(45deg);
          transform: translateX(-100%) rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  opacity: 1;
}

.button:hover .button__text {
  -webkit-animation: fx-text 0.3s ease-out;
          animation: fx-text 0.3s ease-out;
}

.button:hover .button__text--bis {
  -webkit-animation: fx-text-bis 0.3s ease-out;
          animation: fx-text-bis 0.3s ease-out;
}

.button:hover .button__mask {
  -webkit-animation: fx-mask 0.3s ease-out;
          animation: fx-mask 0.3s ease-out;
}

.button:active {
  opacity: 1;
  background: white;
  color: inherit;
}

@-webkit-keyframes fx-mask {
  0% {
    -webkit-transform: translateX(-100%) rotate(45deg);
            transform: translateX(-100%) rotate(45deg);
  }
  100% {
    -webkit-transform: translateX(100%) rotate(45deg);
            transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-mask {
  0% {
    -webkit-transform: translateX(-100%) rotate(45deg);
            transform: translateX(-100%) rotate(45deg);
  }
  100% {
    -webkit-transform: translateX(100%) rotate(45deg);
            transform: translateX(100%) rotate(45deg);
  }
}

@-webkit-keyframes fx-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
    opacity: 0;
  }
}

@keyframes fx-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
    opacity: 0;
  }
}

@-webkit-keyframes fx-text-bis {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fx-text-bis {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: linear-gradient(-45deg, white, #e1b79ce0, #8d6953e0, #c78888);
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
  background-size: 400% 400%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20vh;
}

h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2em;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5%;
  height: 80vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1c1c1c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

footer div#cansons {
  background-color: #181311;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div#cansons ul {
  text-align: left;
}

footer div#autors {
  background-color: #929292;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div#sub-footer {
  background-color: #181311;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer div#sub-footer h4 {
  margin-bottom: 3%;
}

/* Disseny Responsiu per SMARTPHONES*/
@media screen and (max-device-width: 480px) {
  header h1 {
    font-size: 3em;
  }
  section {
    height: 45vh;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 43vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer div {
    width: 100%;
  }
  footer div .button {
    width: 50%;
    margin-right: 0%;
    margin-bottom: 1%;
    text-align: center;
  }
  footer div#sub-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer div.radio-group {
    width: 50%;
  }
  footer div#autoplay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=app.css.map */